<div>
  <perfect-scrollbar cdkDropList [cdkDropListData]="images" (cdkDropListDropped)=drop($event)
                     style="max-height: 100vh;" [config]="config">
    <!-- TODO: this 100vh could cause issues down the line -->
    <div cdkDrag
         [cdkDragData]="image"
         cdkDragRootElement=".image-container"
         *ngFor="let image of images;">

      <!--<span class="glyphicon glyphicon-trash glyph"></span>-->

      <div class="drag-container">
      <app-image [image]="image" [square]="false" [draggable]="true"></app-image>
      <div cdkDragHandle class="drag-icon"> <!--TODO: this logic should be in images-->
        <fa name="bars"></fa>
      </div>

      </div>

    </div>
  </perfect-scrollbar>
</div>
