<div>
  <perfect-scrollbar cdkDropList [cdkDropListData]="images" (cdkDropListDropped)=drop($event)
                     style="max-height: 100vh;" [config]="config">
    <!-- TODO: this 100vh could cause issues down the line -->
    <div cdkDrag
         [cdkDragData]="image"
         cdkDragRootElement=".image-container"
         *ngFor="let image of images;">

      <!--<span class="glyphicon glyphicon-trash glyph"></span>-->

      <app-image [image]="image" [square]="false" [draggable]="true"></app-image>

    </div>
  </perfect-scrollbar>
</div>
