.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate items as they’re being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  width: 100px;
  height: auto;
}

.cdk-drag-placeholder {
  width: 100px;
  height: auto;
}

.drag-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #FFFFFF;
  width: 75px;
  height: 75px;
}


.drag-container {
  position: relative;
}
/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: opacity 3s linear;
}


