.group {
  border-radius: 12px;
  background: #73AD21;
  min-height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.group-name {
  margin-left: 0px;
  margin-right: 0px;
}

.image {
  /*object-fit: cover;*/
  /*height: 100px;*/
  width: 100px;
}

gridster {
  background: none;
}

gridster-item {
  background: none;
}
