.group {
  border-radius: 12px;
  padding: 20px;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
}

.group-name {
  margin-left: 0px;
  margin-right: 0px;
}

.lighten {
  filter: grayscale(75%) brightness(150%);
}
.double-lighten {
  filter: grayscale(85%) brightness(175%);
}

