<div class="group">
  <div class="group-name row">
    <h1 class="col-3">Cute</h1>
    <div class="col-8">
      &nbsp;
    </div>
    <div class="col-1" style="padding-top: 12.5px">
      <fa size="lg" name="plus" ></fa>
    </div>


  </div>

  <div cdkDropList [cdkDropListData]="images" (cdkDropListDropped)=drop($event) class="row d-flex flex-column"
       style="height: 250px; overflow: hidden;">
    <!--<gridster cdkDropList [options]="options">-->
    <!--<gridster-item [item]="image" *ngFor="let image of images">-->
    <!--<img src="{{image.url}}" alt="{{image.id}}" class="img-thumbnail">-->
    <!--</gridster-item>-->
    <!--</gridster>-->
    <div cdkDrag [cdkDragData]="item" class="image p-2" *ngFor="let image of images">
      <img src="{{image.image.url}}" alt="{{image.image.id}}" class="img-thumbnail">
    </div>
  </div>

</div>
