.group {
  border-radius: 12px;
  background: #73AD21;
  min-height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  color: #888888;
}



.image {
  /*object-fit: cover;*/
  /*height: 100px;*/
  width: 100px;
}

gridster {
  background: none;
}

gridster-item {
  background: none;
}
