<div style="height: 5%;">
  <app-top-bar (addGroup)="addEmptyGroup($event)">

  </app-top-bar>
</div>
<div style="height: 95%">
  <gridster [options]="options" style="width: 100%;height: 100%">
    <gridster-item [item]="group" *ngFor="let group of groups">
      <app-group [name]="group.name"
                 [id]="group.id"
                 [color]="group.color"
                 [images]="group.color"
                 [hasChildren]="group.childId !== undefined"
                 [x]="group.x"
                 [y]="group.y"
                 [rows]="group.rows"
                 [cols]="group.cols"
                 [level]="group.level"
                 (deleteGroupItem)="removeItem($event)"
                 (addGroupItem)="addItem($event)"
      >

      </app-group>
    </gridster-item>
  </gridster>
</div>
