<div class="container">
  <div class="row">
    <h1 class="col-12">Welcome to ImageSort</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <p> This is an application designed to help sort images quickly into categories using a drag and drop interface.
        It is primarily designed for use with a vertical iPad sized screen, so it may not scale as well on other screen
        sizes.
      </p>
      <h2>Creating Groups</h2>
      To create a new group, tap the black plus in the upper right of the groups interface. Up to five groups can be
      added. Children can be added by taping the "+" in the top right.
      <br>
      <div style="width:400px;margin-left: auto;margin-right: auto;padding: 20px">
        <img width="400" height="auto" src="assets/images/add_group.JPG" class="rounded float-center">
      </div>
      <h2>Editing a group</h2>
      Remove individual images by tapping. This also shows all images that are in the group (the main page only shows
      the most recent images that have been added.
      <br>
      <div style="width:400px;margin-left: auto;margin-right: auto;padding: 20px">
        <img width="400" height="auto" src="assets/images/group-modal.JPG" class="rounded float-center">
      </div>
      <h2>Deleting a group</h2>
      Groups can only be deleted when all of their children are deleted. Close all sub groups (by using the "x" in the
      top right) then close the parent group. When you delete a group it's images will put put back in the slider to be resorted.
      <h2>Sorting images</h2>
      Images can be dragged from the column on the right into any of the groups. Images on the right can also be
      reordered, but this order will not be saved. To drag an image, use the handle in the top right of the image. The
      handle is required to allow for swipe scrolling of the slider component without moving images


    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center" style="width: 100%;padding: 20px;">
          <button mat-flat-button color="primary" class="p-2" [routerLink]="['./sort']">Get Started!</button>
        </div>
      </div>

    </div>

  </div>

</div>
